.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(+30%);
    transition: all 1s;12
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.anim_start {
    filter: blur(0);
    transform: translateY(0);
}

/*------------------------------------------------------*/
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

